[submodule "lib/vst3_base"]
	path = lib/vst3_base
	url = https://github.com/sjoerdvankreel/vst3_base.git
[submodule "lib/vst3_pluginterfaces"]
	path = lib/vst3_pluginterfaces
	url = https://github.com/sjoerdvankreel/vst3_pluginterfaces.git
[submodule "lib/vst3_public_sdk"]
	path = lib/vst3_public_sdk
	url = https://github.com/sjoerdvankreel/vst3_public_sdk.git
[submodule "lib/vst3_cmake"]
	path = lib/vst3_cmake
	url = https://github.com/sjoerdvankreel/vst3_cmake.git
